{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0 // Airbnb, why?!!
  },
  "globals": {
    "expect": true
  }
}